* {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	color: #333;
    list-style: none;
}
.no-scroll {
    overflow: hidden;
}
.content {
	max-width: 600px;
	margin: 0 auto;
    transition: filter .3s;
}
section {
	padding: 20px;
}
.list.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}
.form label {
    padding: 10px 0;
    font-weight: 500;
}
.form label:first-child {
	padding-top: 0;
}
section .left,
section .right {
    width: 47%;
}
section .left {
	padding-right: 10px;
}
section .right {
	padding-left: 10px;
}
.btn-group {
    display: flex;
    flex-wrap: wrap;
}
.btn-group.main {
    justify-content: center;
}
button,
a.btn, #preview-button {
    background: transparent;
    border: 2px #333 solid;
    padding: 10px 20px;
    border-radius: 400px;
    color: #fff;
    cursor: pointer;
    margin: 0 10px 10px 0;
    background: linear-gradient(-45deg, #21B9E1, #E71F53, #FBAF2E);
    border: none;
    font-weight: 500;
}

#preview-button{
    font-size: 13px;
    text-decoration: none;
    display: none;
}

.btn-group button:last-child {
	margin-right: 0;
}
.left > select,
select#screen-elements,
select.layout-elements {
    width: 100%;
    background: transparent;
    border-radius: 3px;
    border: 1px #333 solid;
    overflow: auto;
}
select option {
    background: #f9f9f9;
    padding: 5px;
    color: #333;
}
select {
    padding: 8px;
    width: 100%;
    margin-top: 10px;
}
.hidden-conf-json {
	display: none;
}
.screen-section-wrap {
	display: none;
}
.screen-section-wrap.active {
	display: block;
}
#modals-wrap {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .5);
    margin: auto;
    z-index: 9999;
    display: none;
    justify-content: center;
    align-items: center;
}
#modals-wrap.active {
	display: flex;
}
.modal {
    position: fixed;
    width: 750px;
    background: #fff;
    box-shadow: 0 0 10px #00000096;
    filter: blur(5px) brightness(0.5);
    transition: filter .3s;
}
.close-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: -10px;
    background: #fff;
    padding: 5px 5px 5px 6px;
    width: 15px;
    height: 15px;
    box-sizing: content-box;
    box-shadow: 0 0 7px #0000007a;
    border-radius: 50%;
    cursor: pointer;
}
.logo {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.logo img {
    width: 100px;
}
input[type=text] {
    padding: 8px 10px;
    color: #333;
}
label input[type=checkbox] {
    vertical-align: middle;
    margin-left: 10px;
}
section[id|=main-conf] {
    border: 1px #333 solid;
    margin-top: 60px;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    min-height: 30px;
}
#main-section {
    padding: 0 20px 0 20px;
}
.section-header {
    position: absolute;
    top: -11px;
    left: 3%;
    background: #fff;
    padding: 0px 20px;
}
.center {
    background: #333;
    width: 1px;
}
footer {
	margin: 30px;
}
.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: default;
}
.list-item.active,
.list-item:hover {
    background: #e9e9e9;
}
.item-btn {
    display: none;
    align-items: center;
}
.list-item.active .item-btn,
.list-item:hover .item-btn {
    display: flex;
}
.item-btn span {
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 5px;
}
.params {
    display: flex;
    flex-wrap: wrap;
    max-height: 600px;
    overflow-y: auto;
    padding-right: 20px;
}
.param {
    width: 100%;
    padding: 15px;
    border-bottom: 1px #e7e7e7 solid;
}
.list {
    text-align: center;
    padding: 20px 0;
    width: 100%;
}
.param input[type=text] {
    width: 100%;
    margin-top: 10px;
}
.param label {
    margin-right: 10px;
    font-weight: 600;
}
.modal.qr {
    text-align: center;
    filter: none;
}
span.file-path {
    text-align: center;
    display: block;
    margin: 20px 0;
    font-size: 13px;
}
.modal.active {
    filter: none;
}
span.path {
    font-size: 12px;
    margin-bottom: 20px;
    display: inline-block;
    font-style: italic;
    font-weight: 500;
}
.modal-head {
    padding: 20px 20px 0 20px;
    border-bottom: 1px #e7e7e7 solid;
}
.modal-content {
    padding: 0 5px 20px 20px;
}
.content.blur {
    filter: blur(5px);
}
label i,
.section-header i {
    vertical-align: middle;
    color: #f47d3b;
    cursor: pointer;
    padding-left: 10px;
}
.param label,
.section-header {
    cursor: pointer;
}
.list-wrap {
    display: none;
}
.list-wrap.show {
    display: block;
}
.main-conf-wrap .list-wrap.show {
    display: flex;
}
.main-conf-wrap .list-wrap {
    justify-content: center;
    align-items: center;
}
.modal-btn {
    margin-top: 20px;
}
.list .param:last-child {
    border: none;
}
.main-conf-wrap {
    position: relative;
}
.main-conf-wrap section .list-wrap {
    overflow-y: auto;
    min-height: 255px;
    padding: 0 20px;
}
.main-conf-wrap section {
    display: none;
    padding: 0;
}
.main-conf-wrap section.active {
    display: block;
}
.tabs {
    position: absolute;
    right: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1px;
    z-index: 999;
}
.tab.active {
    border-right-color: #fff;
    background: linear-gradient(-45deg, #21B9E1, #E71F53, #FBAF2E);
    color: #fff;
}
.tab {
    min-width: 100px;
    text-align: center;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-right: -1px;
    cursor: pointer;
    padding: 11px;
    transition: margin .1s ease, box-shadow .3s;
    border-radius: 300px 0 0 300px;
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 13.3px;
    font-weight: 500;
}
.tab:not(.active):hover {
    box-shadow: 0 0 10px #0000001c;
}
body {
    background: url(../logo-bg.png) 100px 100px;
    background-size: 390px;
}